<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="img/logo.png">
    <!--CSS -->
    <link rel="stylesheet" href="css/homestyle.css">

    <!--  Boxicons CSS---- -->
    <link rel='stylesheet' href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
     
    <!----Iconscout CSS-->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <title>Home Page</title> 
</head>
<body>
    <nav>
        <div class="logo-name">
            <div class="logo-image">
                <img src="img/logo.png" alt="">
            </div>

            <span class="logo_name">SVCE</span>
        </div>

        <div class="menu-items">
            <ul class="nav-links">

                <li><a href="#">
                    <i class='bx bx-home'></i>
                    <span class="link-name">Home</span>
                </a></li>

                <li><a href="student_mgmt">
                    <i class='bx bx-user'></i>
                    <span class="link-name">Student Management</span>
                </a></li>

                <li><a href="route_mgmt">
                    <i class='bx bx-current-location'></i>
                    <span class="link-name">Route Management</span>
                </a></li>

                <li><a href="bus_mgmt">
                    <i class='bx bx-bus'></i>
                    <span class="link-name">Bus Management</span>
                </a></li>

                <li><a href="about_us">
                    <i class='bx bx-chat'></i>
                    <span class="link-name">About Us</span>
                </a></li>
                
            </ul>
            
          <!--<ul class="logout-mode">
                <li><a href="#">
                    <i class="uil uil-signout"></i>
                    <span class="link-name">Logout</span>
                </a></li>-->  

                
               <!--<li class="mode">
                    <a href="#">
                        <i class="uil uil-moon"></i>
                    <span class="link-name">Dark Mode</span>
                </a> 

                <div class="mode-toggle">
                  <span class="switch"></span>
                </div>--> 

            </li>
            </ul>
        </div>
    </nav>

    <section class="dashboard">
        <div class="top">
            <!--<i class="uil uil-bars sidebar-toggle"></i>     -->       

            <!--<div class="search-box">
                <i class="uil uil-search"></i>
                <input type="text" placeholder="Search here...">
            </div>-->

            
             <a style="text-decoration: none; font-family: 'Poppins', sans-serif; "href="login" target="_self"><h5 style="font-size:20px; font-weight: 500;
                color: black;  ">Logout</h5>
             </a>      
        </div>         
            
        </div>




        <div class="dash-content">    
<p style="padding-top: 100px;">Demo content is probably one of the least talked about items in a designer’s toolbox. Yet, it’s also very useful. While we often see it as a means to populate a mockup or show what a CMS theme is capable of, there are other good uses.

    For instance, it can serve as a placeholder during site development – you know, while you wait for the “real” stuff to arrive. This helps you continue to move forward on a project that could otherwise be stalled.
    
    Likewise, demo content can live up to its name by helping you demonstrate various processes. Things like training videos or documentation can use bits and pieces to show users how a certain feature works.
    
    Overall, it’s something that can be quite handy to have around. And there are several resources out there to fill your specific needs. Below is a selection of some of the coolest demo content generators on the web. Enjoy!</p>
    <p style="padding-top: 100px;">Demo content is probably one of the least talked about items in a designer’s toolbox. Yet, it’s also very useful. While we often see it as a means to populate a mockup or show what a CMS theme is capable of, there are other good uses.

        For instance, it can serve as a placeholder during site development – you know, while you wait for the “real” stuff to arrive. This helps you continue to move forward on a project that could otherwise be stalled.
        
        Likewise, demo content can live up to its name by helping you demonstrate various processes. Things like training videos or documentation can use bits and pieces to show users how a certain feature works.
        
        Overall, it’s something that can be quite handy to have around. And there are several resources out there to fill your specific needs. Below is a selection of some of the coolest demo content generators on the web. Enjoy!</p>
        <p style="padding-top: 100px;">Demo content is probably one of the least talked about items in a designer’s toolbox. Yet, it’s also very useful. While we often see it as a means to populate a mockup or show what a CMS theme is capable of, there are other good uses.

            For instance, it can serve as a placeholder during site development – you know, while you wait for the “real” stuff to arrive. This helps you continue to move forward on a project that could otherwise be stalled.
            
            Likewise, demo content can live up to its name by helping you demonstrate various processes. Things like training videos or documentation can use bits and pieces to show users how a certain feature works.
            
            Overall, it’s something that can be quite handy to have around. And there are several resources out there to fill your specific needs. Below is a selection of some of the coolest demo content generators on the web. Enjoy!</p>
            <p style="padding-top: 100px;">Demo content is probably one of the least talked about items in a designer’s toolbox. Yet, it’s also very useful. While we often see it as a means to populate a mockup or show what a CMS theme is capable of, there are other good uses.

                For instance, it can serve as a placeholder during site development – you know, while you wait for the “real” stuff to arrive. This helps you continue to move forward on a project that could otherwise be stalled.
                
                Likewise, demo content can live up to its name by helping you demonstrate various processes. Things like training videos or documentation can use bits and pieces to show users how a certain feature works.
                
                Overall, it’s something that can be quite handy to have around. And there are several resources out there to fill your specific needs. Below is a selection of some of the coolest demo content generators on the web. Enjoy!</p>

</div>


    </section>

    <!-- ----Java Script---- -->
    <script src="js/main.js"></script>

</body>

</html>


{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!--CSS -->
    <link rel="stylesheet" href="css/main.css">

    <!--  Boxicons CSS---- -->
    <link rel='stylesheet' href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
     
    <!----Iconscout CSS-->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <title>Home Page</title> 
</head>
<body>
    <nav>
        <div class="logo-name">
            <div class="logo-image">
                <img src="img/logo.png" alt="">
            </div>

            <span class="logo_name">SVCE</span>
        </div>

        <div class="menu-items">
            <ul class="nav-links">

                <li><a href="#">
                    <i class='bx bx-home'></i>
                    <span class="link-name">Home</span>
                </a></li>

                <li><a href="student_mgmt">
                    <i class='bx bx-user'></i>
                    <span class="link-name">Student Management</span>
                </a></li>

                <li><a href="route_mgmt">
                    <i class='bx bx-current-location'></i>
                    <span class="link-name">Route Management</span>
                </a></li>

                <li><a href="bus_mgmt">
                    <i class='bx bx-bus'></i>
                    <span class="link-name">Bus Management</span>
                </a></li>

                <li><a href="#">
                    <i class='bx bx-chat'></i>
                    <span class="link-name">About Us</span>
                </a></li>
                
            </ul>
            
            <ul class="logout-mode">
                <li><a href="#">
                    <i class="uil uil-signout"></i>
                    <span class="link-name">Logout</span>
                </a></li>

                
                <li class="mode">
                    <a href="#">
                        <i class="uil uil-moon"></i>
                    <span class="link-name">Dark Mode</span>
                </a> 

                <div class="mode-toggle">
                  <span class="switch"></span>
                </div>

            </li>
            </ul>
        </div>
    </nav>

    <section class="dashboard">
        <div class="top">
            <i class="uil uil-bars sidebar-toggle"></i>            

            <div class="search-box">
                <i class="uil uil-search"></i>
                <input type="text" placeholder="Search here...">
            </div>

            <h5>LOGIN</h5>
             <a href="login" target="_self">
                 <img src="img/user.png">
             </a>
              
                       
            
        </div>




        <div class="dash-content">    
            
            
        </div>


    </section>

    <!-- ----Java Script---- -->
    <script src="js/main.js"></script>

</body>

</html> --}}